#application-bar {
  padding: rem(20);
  border-bottom: 1px solid $light;

  .appbar-container {
    display: flex;
    align-items: center;

    .search-container,
    .logo-container,
    .options-container {
      flex: 0 0 auto;
    }

    .search-container {
      border-left: 1px solid $ccc;
      padding-left: rem(30);

      .app-tag-input {
        transition:all 0.5s;
        display: flex;

        .react-tagsinput,
        .btn {

        }

        &.active {

        }
      }
    }

    .options-container {
      margin: 0 rem(10);

      nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        > a,
        > #option-set-1,
        > #option-set-2 {
          flex: 0 0 auto;
          margin: 0 rem(10);
        }

        a {
          font-size: rem(14);
          outline: none;
          text-decoration: none;
        }

        a.btn-primary span.badge { background: $yellow; color: $black; }
      }

      &:last-child { flex: 1 1 auto; }
    }
  }
}