#department-intro {
  padding: rem(40);
  border-bottom: 3px solid $brand;
}

#department-post-list,
#type-posts {
  margin: rem(20);

  .post-list-filter-container {
    margin: rem(40) 0;
    font-size: rem(14);
    display: flex;

    ul.nav-pills li.nav-item a { color: $dark; }
    ul.nav-pills li.nav-item a.active { background: $dark; color: $white; }



    ul.nav-pills,
    .filter-field {
      flex: 1 1 auto;
    }

    .filter-field {
      input {
        width: 100%;
      }
    }
  }
}

#department-form-view {
  padding: rem(40);
}

#type-posts {
  display: flex;

  .type-post-nav,
  .type-post-list {
    flex: 0 0 auto;
  }

  .type-post-nav {
    width: 20%;
    margin-right: rem(20);
  }

  .type-post-list { width: 80%; }

  .post-list-filter-container {
    margin: 0 0 rem(20) 0;
  }
}