#post-form-view {
  h1 small {
    font-size: rem(16);
    font-family: $body-font;
    span { font-weight: bold; }
  }

  .form-group > label {
    color: $dark;
    font-weight: bold;
  }

  .required > label {
    &:after {
      content: '*';
      color: $red;
    }
  }
}
.wysiwyg-editor {
  min-height: rem(300);
  border:1px solid $ccc;

  .public-DraftEditor-content {
    min-height: rem(150);
  }

  .rdw-editor-toolbar {
    border: none;
    background: $light;
    display: flex;
    align-items:stretch;

    .rdw-option-wrapper,
    .rdw-dropdown-wrapper {
      min-height: rem(40);
      width: rem(60);
      padding: rem(10);
      background: $white;
    }

    .rdw-dropdown-optionwrapper {
      min-width: rem(50);
    }
  }

  .demo-editor {
    padding: 0 rem(20);
  }

  .rdw-link-modal {
    min-height: rem(250);
    height: auto;
  }
}

.post-type-container {
  display: flex;
  flex-wrap: wrap;

  .post-type {
    @include border-radius;
    flex: 0 0 auto;
    flex-wrap: wrap;
    // padding: rem(10);
    width: 50%;
    // background: $light;
    position: relative;
    cursor: pointer;

    input[type='radio'] {
      width: rem(20);
      height: rem(20);
      margin-top: rem(5);
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .post-type-block {
    display:flex;
    cursor: pointer;

    .icon,
    .description {
      flex: 0 0 auto;
    }

    .icon {
      width: rem(120);
      img { width: 100% }
    }

    .description {
      flex: 1 1 auto;
      margin-left: rem(20);
      p { margin: 0 rem(20) 0 0; }
      p span {
        font-weight: bold;
      }
    }
  }
}

.department-checkboxes {
  display: flex;

  .check-block {
    @include border-radius;
    width: 30%;
    margin-right: rem(10);
    background: $light;
    padding: rem(10);
    input.form-control { width: rem(20); display: inline-block;}
  }
}

.react-date-picker {
  @include border-radius;
  background: $white;
  border:1px solid $ccc;
  padding: rem(7.999);

  &.react-date-picker--closed .react-date-picker__calendar { display: none; }

  .react-date-picker__button {
    display: flex;

    button {
      background: $white;
      border:none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s;

      svg {
        position: relative;
        top: rem(3)
      }

      &:hover { background: $light; }
    }
  }

  .react-date-picker__button__input {
    display: flex;
    flex: 1 1 auto;

    input.react-date-picker__button__input__month,
    input.react-date-picker__button__input__day,
    input.react-date-picker__button__input__year {
      border: none;
      flex: 0 0 auto;
      width: rem(60) !important;
      outline: none;
      text-align: center;
    }
    span.react-date-picker__button__input__divider { color: $ccc; }
  }

  .react-date-picker__calendar {

    .react-calendar {
      border-top: 1px solid $ccc;
      padding-top: rem(10);
      margin-top: rem(10);
    }

    button {
      background: $white;
      border:none;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      &:hover { background: $light; }
    }

    .react-calendar__month-view__weekdays {
      text-align: center;
      font-weight: bold;
    }
  }

}
