.wysiwyg-editor {
  min-height: rem(300);
  border:1px solid $ccc;

  .public-DraftEditor-content {
    min-height: rem(150);
  }

  .rdw-editor-toolbar {
    border: none;
    background: $light;
    display: flex;
    align-items:stretch;

    .rdw-option-wrapper,
    .rdw-dropdown-wrapper {
      min-height: rem(40);
      width: rem(60);
      padding: rem(10);
      background: $white;
    }

    .rdw-dropdown-optionwrapper {
      min-width: rem(50);
    }
  }

  .demo-editor {
    padding: 0 rem(20);
  }

  .rdw-link-modal {
    min-height: rem(250);
    height: auto;
  }
}

.post-type-container {
  display: flex;

  .post-type {
    flex: 1 1 auto;
    text-align: center;

    border: 1px solid $light;
    margin: rem(10);
    padding: rem(10);

    input[type='radio'] {
      width: rem(20);
      height: rem(20);
      margin: auto;
    }

  }
}

