#welcome-container {
  background: $light url(/web-images/welcome-image.jpg);
  background-position: top center;
  background-size: 100%;
  min-height: rem(600);
  border-bottom: 1px solid $light;

  .welcome-message {
    // position: relative;
    // top: rem(100);
    text-align: left;
    padding: rem(40) 0;
    line-height: rem(50);
    // background: rgba($white, 0.9);

    span {
      font-family: 'Titillium Web';
      font-weight: 300;
      color: $dark;
      font-size: rem(40);
      display: block;

      &.highlight {
        font-weight: 700;
        color: $gold;
        font-size: rem(50);
      }
    }
  }

  .search-container {
    @include border-radius;
    width: 100%;
    padding: rem(20);
    padding-left: 0;
    background: rgba($white, 0.6);


    .app-tag-input,
    .react-autosuggest__container input,
    .react-tagsinput-tag {
      font-size: rem(18);
    }

    .react-autosuggest__container input {
      min-width: rem(280);
    }

    .react-autosuggest__container,
    .react-tagsinput-tag {
      margin-top: rem(9);
    }

    .react-tagsinput {
      margin-left: rem(10);
    }



    .app-tag-input {
      height: rem(65);
      border: none;
      @include shadow;

      .btn.btn-default {
        @include border-radius(0 $radius $radius 0);
        background: $blue;
        color: $white;

        &:after {
          content: 'Search';
          display:inline-block;
          margin: 0 rem(10);
        }
      }
    }
  }
}

#teammates {
  background: $white url(/web-images/teammates-image.png) no-repeat;
  background-position: bottom center;
  background-size: 85%;
  padding: rem(150) 0;
  .container {
    display: flex;
    flex-direction: row-reverse;

    .message {
      flex: 0 0 auto;
      width: 60%;
      text-align: left;
      background: rgba($white, 0.9);
      padding: rem(50)
    }

    .message {
      .counter-element {
        margin-bottom: rem(20);
        justify-content: left;
      }
    }
  }
}

#feature-container {
  .blocks {
    @include flex;
    flex-wrap: wrap;
    border-top: 1px solid $light;

    article {
      width: 50%;
      padding: rem(80);
      border-right: 1px solid $light;
      border-bottom: 1px solid $light;

      h3 {
        transition: all 0.3s;
        &:after { transition: all 0.3s; }

        a { text-decoration: none; color: inherit; }
      }

      &:nth-child(even) { border-right: none; }

      date {
        font-style: italic;
        margin-bottom: rem(10);
        display: block;
        color: $ccc;
        .icon {
          margin-right: rem(10);
        }
      }


      &:hover {
        h3 {
          color: $blue;
          &:after { width: 30%; }
        }
      }
    }
  }
}

#customers-served {
  background: $white;
  padding: rem(150) 0;
  text-align: center;

  .message {
    margin-top: rem(40);
    h1:after { margin: rem(20) auto; }
  }

  #brand-partners {
    .logos {
      @include flex;
      flex-wrap: wrap;
      justify-content: center;

      .logo {
        width: 10%;
        text-align: center;
        opacity: 0.5;
        img {
          width: rem(100);
        }
      }
    }
  }
}

#map-container {
  background: $light;
  .map-container {
    iframe {
      width: 100%;
      height: rem(600);
    }
  }
}

// Counter Component
// ===================================
.counter-element {
  @include flex;
  justify-content: center;

  .numbers {
    min-width: rem(350);
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      height: 1px;
      background: $white;
      top: 50%;
    }
    span {
      @include border-radius;
      border-bottom: 3px solid $brand;
      text-align: center;
      font-family: 'Titillium Web';
      display: inline-block;
      font-weight: 700;
      color: $white;
      background: $blue;
      font-size: rem(60);
      padding: rem(10) rem(20);

      &.comma {
        border-bottom: none;
        background: $white;
        color: $blue;
        padding: rem(10);
      }
    }
  }
}