body {
  background: $dark;

  #application-container {
    background: $white;
    min-height: rem(700);
  }
}

// Application Layout
#application-container {
  .app-layout {
    display: flex;
    align-items: stretch;

    #sidebar,
    #content-area {
      flex: 0 0 auto;
    }

    #sidebar {
      width: rem(220);
    }

    #content-area {
      flex:1 1 auto;
      background: $white;
    }
  }
}

.empty {
  @include border-radius;
  padding: rem(20);
  margin: rem(20) 0;
}