body {
  background: $dark;

  #application-container {
    background: $white;
  }
}

// Application Layout
#application-container {
  .app-layout {
    display: flex;
    align-items: stretch;

    #sidebar,
    #content-area {
      flex: 0 0 auto;
    }

    #sidebar {
      width: rem(220);
    }

    #content-area {
      flex:1 1 auto;
      background: $white;
    }
  }
}