#post-form-view,
#post-detail-view {
  padding: rem(40);
}

#department-post-list {
  span.key {
    @include border-radius($round);
    display: block;
    width: rem(10);
    height: rem(10);
    margin: rem(10) auto;
  }
}

#department-posts {

  .department-post-list {
    > article {
      border-bottom:1px solid $light;
      padding: rem(20);

      a.post-title {
        font-size: rem(18);
        color: $dark;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3s;

        &:hover { color: $blue; }
      }

      span.date { display: block; color: $ccc; }

      p { margin: 0; }

      span.key {
        display: inline-block;
        margin: 0 rem(10) 0 0;
      }
    }

    .post-type--faq {
      span.key { background: $green }
    }
    .post-type--howto {
      span.key { background: $purple }
    }
    .post-type--linkto {
      span.key { background: $yellow }
    }
    .post-type--blog {
      span.key { background: $blue }
    }
    .post-type--job {
      span.key { background: $pink }
    }
  }
}