#post-form-view,
#post-detail-view {
  padding: rem(40);
}

#department-post-list {
  span.key {
    @include border-radius($round);
    display: block;
    width: rem(10);
    height: rem(10);
    margin: rem(10) auto;
  }
}

#department-posts,
#type-posts {

  .department-post-list,
  .type-post-list {
    > article {
      border-bottom:1px solid $light;
      padding: rem(20);

      a.post-title {
        font-size: rem(18);
        color: $dark;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3s;

        &:hover { color: $blue; }
      }

      span.date { display: block; color: $ccc; }

      p { margin: 0; }

      span.key {
        display: inline-block;
        margin: 0 rem(10) 0 0;
      }
    }

    .post-type--faq {
      span.key { background: $green }
    }
    .post-type--howto {
      span.key { background: $purple }
    }
    .post-type--linkto {
      span.key { background: $yellow }
    }
    .post-type--blog {
      span.key { background: $blue }
    }
    .post-type--job {
      span.key { background: $pink }
    }
  }
}

#show-post {
  width: rem(960);
  margin: auto;

  #post-detail-view {
    .title,
    .author {
      text-align: left;

      h1 {
        font-family: serif;
        font-size: rem(45);
        font-weight: normal;
      }
    }

    .post-detail-body {
      p {
        font-family: serif;
        font-weight: normal;
        font-size: rem(22) !important;
        line-height: rem(40);
      }

      img {
        width: 100% !important;
        padding: rem(5);
        background: $white;
        border:1px solid $ccc;
      }
    }
  }
}

#show-post {
  .post-detail-video {
    margin-top: rem(20);
  }

  .post-detail-link {
    background: $light;
    padding: rem(20);
    margin-top: rem(20);
    label {
      display: block;
    }
    a {
      font-size: rem(24);
    }
  }

  .post-detail-body {
    margin-top: rem(20);
  }

}
