#sidebar {
  background: $brand;

  .tag-cluster,
  .links,
  .search {
    padding: rem(10) rem(20);

    label {
      display: block;
      color: $white;
    }
  }

  .banding {
    text-align: center;
    border-bottom:1px solid $light;
  }

  .search {
    form input { width: 100%; }
  }

  .links {

    &.actions {
      border:1px solid rgba($red, 0.1);
      padding: rem(10) rem(10);


      svg {
        @include border-radius($round);
        @include shadow;
        background: $blue;
        padding: rem(4);
        color: $white;
        width: rem(20);
        height: rem(20);
      }

      a:hover > svg { background: $green; }
    }
    a {
      @include border-radius;
      display: block;
      color: $halfwhite;
      text-decoration: none;
      transition: all 0.5s;
      padding: rem(5);
      background: $trans;

      &:hover {
        color: $white;
        background: $navy;

      }
    }
  }
}