#footer
  .footer-container
    .container
      .blocks
        .block.logo
          =render 'shared/logo', {color: 'white'}
        .block.links
          %label Departments
          -get_departments.each do |dept|
            %a{href: department_path(dept)}=dept.department_name
        .block.links
          %label Resources
          %a{:href => "#"} Leadership
          %a{:href => "#"} Our Mission
          %a{:href => "#"} FAQs
          %a{:href => "#"} Forms
        .block.links
          %label More resources
          %a{:href => "#"} Blog
          %a{:href => "#"} Hendrick University
          %a{:href => "#"} Schedules
        .block.links.social
          %label Stay updated
          %a{:href => "#"}
            %span.fab.fa-facebook
          %a{:href => "#"}
            %span.fab.fa-twitter
          %a{:href => "#"}
            %span.fab.fa-youtube
