-unless get_announcements.empty?
  #announcements
    -get_announcements.each do |announcement|
      %div.alert{'data-alert'=>'alert', role:'alert'}
        %a.announcement-item{href: post_path(announcement)}
          .announcement-icon-button{role:'button'}
            %span.icon
              %i.fa.fa-exclamation-triangle

          .announcement-message
            .message-wrapper
              %date=announcement.updated_at.strftime("%A %b %d, %Y")
              %p=truncate(announcement.summary, length: 140)
