#application-bar
  %nav.appbar-container
    .logo-container
      %a{href:'/'}
        =render 'shared/logo', {color: 'brand'}
    .options-container
      %nav
        #option-set-1
          %a#tour-departments.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button", "data-target"=>"option-set-1"}
            IT Departments
          .dropdown-menu.nav-departments{"aria-labelledby" => "tour-departments"}
            -get_departments.each do |dept|
              %a.dropdown-item{ href: department_path(dept) }
                %span.label=dept.name
                -unless get_bulletins(dept.id).empty?
                  %i.fa.fa-exclamation-circle.orange

    .options-container
      %nav
        %a#tour-careers.btn.btn-primary{href:'/careers.html'}
          %span.badge NEW
          Careers
        %a#tour-help.link{:href => "#"}
          Need help?
        %a#tour-user.link{:href => "#"}
          %a{href: user_path(current_user), class: "avatar bg-#{['red', 'green', 'blue', 'purple', 'yellow'].sample}"}
            %img{src: current_user.photo_url}

