#application-bar
  %nav.appbar-container
    .logo-container
      %a{href:'/'}
        =render 'shared/logo', {color: 'brand'}
    .options-container
      %nav
        %a#tour-announcements.link{:href => "#"}
          Announcements
          %span.badge.badge-pill.badge-danger=new_announcement_count

        %a#tour-departments.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Departments
        .dropdown-menu{"aria-labelledby" => "tour-departments"}
          -get_departments.each do |dept|
            %a.dropdown-item{href: department_path(dept) }=dept.department_name

    #tour-search.search-container
      .tag-search-container
        =react_component('TagSearch', {taggings: all_tags})

    .options-container
      %nav
        %a#tour-careers.btn.btn-outline-primary{href:'/careers.html'}
          %span.badge.badge-primary NEW
          Careers
        %a#tour-help.link{:href => "#"}
          Need help?
