#sidebar

  -unless department_tags.empty?
    .tag-cluster
      %label Tags
      .tags-container
        -department_tags.each do |tag|
          %a{href:search_path(terms:tag.name)}
            %span{role:'tag'}=tag.name

  .links.actions
    %label Actions
    %a{href: search_path(terms:'')}
      %span.fa.fa-plus.mr-1
      Search
    %a{href: new_post_path}
      %span.fa.fa-plus.mr-1
      Add a Post
    %a{href: new_department_path}
      %span.fa.fa-plus.mr-1
      Add a Department
    %a{href: new_user_path}
      %span.fa.fa-plus.mr-1
      Add a Teammate

  .links
    %label Departments
    -get_departments.each do |dept|
      %a{href: department_path(dept)}=dept.name

  .links
    %label Resources
    %a{href: '/careers.html'}
      Careers
      %span.badge.badge-warning.ml-1 New
    %a{href: '/faqs.html'} FAQs
    %a{href: '/howtos.html'} How-Tos
    %a{href: '/linkto.html'} Links &amp; Forms
    %a{href: '/leadership.html'} Leadership
    %a{href: users_path} Teammates