#tag-search-control
  %form.block.search-block{role: 'search', action:action_path}
    %input{type:'text', name:'terms', placeholder:'Example: new, staff, computers'}
    %button.btn.btn-secondary{type:'submit'}
      %i.fas.fa-search
