%div{id:'department-intro'}
  %h1= @department.name
  %p.lead
    = @department.mission
    %a{href: edit_department_path(@department)} Edit department

#department-post-list
  -unless @posts.empty?
    #bulletins
      %h5 Department bulletins
      -get_bulletins(@department.id).each do |bulletin|
        %a.bulletin-item{href: post_path(bulletin)}

          .bulletin-content
            %date=bulletin.updated_at.strftime("%A %b %d, %Y")
            %p=truncate(bulletin.summary, length: 110)


    =react_component('DepartmentPosts', {posts: @posts})
  -else
    .empty
      %p.lead
        This Department doesn't have any Posts yet.
        %a{href: new_post_path} Write a new Post.