#department-intro
  %h1= @department.name
  %p.lead
    = @department.mission
    %a{href: edit_department_path(@department)} Edit department


#department-post-list
  -unless @posts.empty?
    =react_component('DepartmentPosts', {posts: @posts})
  -else
    .empty
      %p.lead
        This Department doesn't have any Posts yet.
        %a{href: new_post_path} Write a new Post.