#department-intro
  %h1= @department.department_name
  %p.lead
    = @department.mission
    %a{href: edit_department_path(@department)} Edit department


#department-post-list
  =react_component('DepartmentPosts', {posts: @posts})