#main-dept-view-search
  =react_component('TagSearch', {taggings: all_tags})
.container.p-5
  %h1= @department.department_name
  %p.lead= @department.mission
  -@posts.each do |post|
    =link_to department_post_path(post) do ||
      %h3=truncate(post.title, length: 50)
      %p.lead=truncate(post.details, length: 200)