#welcome-container
  .container
    .welcome-message
      %span.highlight Welcome to Hendrick IT
      %span Connecting our teams, stores and customers.

  .container
    #tour-search.search-container
      .tag-search-container
        =react_component('TagSearch', {taggings: all_tags})
