=render 'welcome'
=render 'teammates'
=render 'featured-stories'

#customers-served
  =render 'counter', number:'124,439,123'

  .container
    .message
      %h1.secondary Customers Served in 2018
      %p.lead=Faker::Lorem.paragraph(5)

    #brand-partners
      .logos
        -1.upto(28) do |index|
          .logo.partner
            %img{src:"/web-images/brands/#{index}.jpg"}

#map-container
  .map-container
    %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyBzjA3FrZHAO7zR6dVahHkPM41lIiSvo2U\n    &q=Space+Needle,Seattle+WA", :style => "border:0", :width => "100%"}
