=render 'welcome'
=render 'teammates'
=render 'featured-stories'

#customers-served
  =render 'counter', number:'124,439,123'

  .container
    .message
      %h1.secondary Customers Served in 2018
      %p.lead Together with our automotive partners, we strive for excellence in all we do. Our customers and our community are our highest priority and service to both is our mission.

    #brand-partners
      .logos
        -1.upto(28) do |index|
          .logo.partner
            %img{src:"/web-images/brands/#{index}.jpg"}