=render 'shared/tag-search-control', action_path: '/home/search'

.alert.alert-light
  %label Search terms
  %p=@search_terms.inspect

.panel
  %h2="Department Results - #{@results[:depts].count}"
  %ul
    -@results[:depts].each do |result|
      %li
        =link_to department_path(result) do
          %b=result.department_name
          %i=result.tag_names

.panel
  %h2="User Results - #{@results[:users].count}"
  %ul
    -@results[:users].each do |result|
      %li
        =link_to user_path(result) do
          %b=result.name
          %i=result.tag_names

.panel
  %h2="Post Results - #{@results[:posts].count}"
  %ul
    -@results[:posts].each do |result|
      %li
        =link_to post_path(result) do
          %b=truncate(result.title, length: 50)
          %i=result.tag_names