=render 'shared/navbar'

#top-search-container
  .container
    %h4 Search Terms
    =react_component('TagSearch', {taggings: all_tags, terms: @search_terms})

#search-results-container
  %section.departments.container
    %h4.secondary="Department Results - #{@results[:depts].count}"

    %ul.list-group
      -@results[:depts].each do |result|
        %li.list-group-item
          =link_to department_path(result) do
            %b=result.name
            %i=result.tag_names

  %section.users.container
    %h4.secondary="User Results - #{@results[:users].count}"

    %ul.list-group
      -@results[:users].each do |result|
        %li.list-group-item
          =link_to user_path(result) do
            %b=result.name
            %i=result.tag_names

  %section.posts.container
    %h4.secondary="Post Results - #{@results[:posts].count}"

    %ul.list-group
      -@results[:posts].each do |result|
        %li.list-group-item
          =link_to post_path(result) do
            %b=truncate(result.title, length: 50)
            %i=result.tag_names