
#top-search-container
  .container
    %h4 Search Terms
    =react_component('TagSearch', {taggings: all_tags, terms: @search_terms})

#search-results-container
  %section.departments.container
    %h4
      Department Results
      %span.badge.badge-primary=@results[:depts].count

    %ul.list-group
      -@results[:depts].each do |result|
        %li.list-group-item
          =link_to department_path(result) do
            %b=result.name

  %section.users.container
    %h4
      User Results
      %span.badge.badge-primary=@results[:users].count

    %ul.list-group
      -@results[:users].each do |result|
        %li.list-group-item
          =link_to user_path(result) do
            .user-result-container
              .avatar
                %img{src: result.photo_url}

              .user-details
                %span.name=result.name
                %span.department=result.department.name

  %section.posts.container
    %h4
      Post Results
      %span.badge.badge-primary=@results[:posts].count


    %ul.list-group
      -@results[:posts].each do |post|
        %li.list-group-item
          =link_to post_path(post) do
            %article
              %date
                =post.updated_at.strftime("%a %b %e, %y")
              %span.title=post.title
              %p.summary=truncate(post.summary, length: 140)
