#show-post
  -unless notice.nil?
    .alert.alert-info
      %span= notice

  #post-detail-view
    %button.btn.btn-default{:onclick => 'window.history.back();'}
      %i.fa.fa-angle-left.blue
      Go Back

    .title
      %h1= @post.title

    .author
      %p
        Written by:
        =link_to @post.author.name, user_path(@post.author)
        for
        =link_to @post.department.name, department_path(@post.department)

    -unless @post.tag_names.empty?
      .tag-cluster
        .tags-container
          -@post.tag_names.each do |tag|
            %a{href:search_path(terms:tag)}
              %span{role:'tag'}=tag


    -unless @post.video_url.nil?
      .post-detail-video
        %iframe#ytplayer{:frameborder => "0", :height => "480", :src => "https://www.youtube.com/embed/#{format_youtube_video_for_embed(@post.video_url)}?autoplay=1&origin=#{root_url}", :type => "text/html", :width => "100%"}

    -unless @post.action_url.nil?
      .post-detail-link
        %label Check the Link
        %a{href:@post.action_url}=@post.action_url

    .post-detail-body
      =@post.body.html_safe

    %div
      =link_to 'Edit', edit_post_path(@post)
      |
      =link_to 'Back', department_path(@post.department.id)




