-unless notice.nil?
  .alert.alert-info
    %span= notice

#post-detail-view
  %h1.secondary= @post.title

  %p
    Written by:
    =link_to @post.author.name, user_path(@post.author)
    for
    =link_to @post.department.name, department_path(@post.department)



  %div.post-detail-body
    =@post.body.html_safe

  %div
    =link_to 'Edit', edit_post_path(@post)
    |
    =link_to 'Back', department_path(@post.department.id)
