@import "shared/colors";
@import "shared/vars";
@import "shared/mixins";
@import "shared/application-bar";
@import "shared/tag-search-control";
@import "shared/forms";
@import "shared/sidebar";
@import "shared/footer";
@import "shared/homepage";
@import "shared/searchpage";
@import "shared/departmentpage";
@import "shared/postpages";
@import "shared/userpages";
@import "shared/layout";

// Add to HASG
.btn-success { color: $white; }

#application-bar .avatar {
  @include border-radius($round);
  width: rem(40);
  height: rem(40);
  overflow: hidden;
  display: block;
  img { width: 100% }
}